<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>tax-price</title>
  </head>
  <body>
    <div id="app">
      <p>
        base price:
        <input type="text" v-model="basePrice" />
      </p>
      <p>
        tax included price:
        <input type="text" v-model="taxIncludedPrice" />
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="taxPrice.js"></script>
  </body>
</html>
